<div class="mainframe">
    <div class="frame">
        <div class="Employelist">
            <h6>Employees List</h6>
            <select id="employeList" class="select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <p>of 10</p>
        </div>

        <div>
            <button onclick="openForm(); cleardeatils()" id="employeeOpen" class="bttn btn-primary">Add
                Employee</button>
        </div>
    </div>

    <!-- table frame -->

    <table class="table">
        <thead>
            <tr class="details">
                <th scope="col">Sl.No <i class="fa-solid fa-angle-down"></i></th>
                <th scope="col">Name <i class="fa-solid fa-angle-down"></i></th>
                <th scope="col">Email <i class="fa-solid fa-angle-down"></i></th>
                <th scope="col">Phone <i class="fa-solid fa-angle-down"></i></th>
                <th scope="col">Gender <i class="fa-solid fa-angle-down"></i></th>
                <th scope="col">DOB <i class="fa-solid fa-angle-down"></i></th>
                <th scope="col">Country <i class="fa-solid fa-angle-down"></i></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody id="table_body">
            <tr class="table">





            </tr>
        </tbody>
    </table>
</div>