<%- include('./layouts/signheader'); %>


<div class="container">
    <div class="forms-container">
        <div class="signin-signup">

          <!-- sign in page section............................... -->

          <form action="login" class="sign-in-form" method="POST">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" id="singin_email" placeholder="Email address" required name="email" onkeyup="emailValidation(this)" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" id="signin_password" placeholder="Password" required name="password" onkeyup="passwordVerfication(this)" />
            </div>
            <input type="submit" value="Login" class="btn solid" id="loginbtn" />
            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>

          <!-- end ................................................ -->

          <!-- signup section page.................................. -->

          <form action="signup/sendOtp" class="sign-up-form" method="post" id="signupForm">
            <h2 class="title">Sign up</h2>
            <div class="input-field" id="sign1">
              <i class="fas fa-user"></i>
              <input id="signup_name" type="text" placeholder="Username" required name="name" onkeyup="nameVerification(this)"/>
            </div>
            <div class="input-field" id="sign2">
              <i class="fas fa-envelope"></i>
              <input id="signup_email" type="email" placeholder="Email" required name="email" onkeyup="emailValidation(this)" />
            </div>
            
              <div class="input-field" id="sign3">
                <i class="fas fa-lock"></i>
                <input id="signup_password" type="password" placeholder="Password" required name="password" onkeyup="passwordVerfication(this)"/>
                <!-- <input type="checkbox" id="check" > -->
              </div>
              <button type="submit" class="btn" id="sign-btn" onclick="User()">Sign up</button>
 <p class="social-text">Or Sign up with social platforms</p>
              
 <div class="social-media">
  <a href="#" class="social-icon">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="#" class="social-icon">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="#" class="social-icon">
    <i class="fab fa-google"></i>
  </a>
  <a href="#" class="social-icon">
    <i class="fab fa-linkedin-in"></i>
  </a>
</div>

            <!-- end............................-->
            

          </form>
          <!-- end.............................................. -->
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
                Welcome! If you're new here,
                 we invite you to join our community by signing up.
            </p>
            <button class="btn transparent"  id="sign-up-btn">
              Sign up
            </button>
          </div>
          <!-- img  -->
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
                Are you one of us? Join our community by 
                signing in and enjoy the benefits.
            </p>
            <button class="btn transparent" id="sign-in-btn" onclick="modifyState(`user/login`)">
              Sign in
            </button>
          <!-- img  -->
      </div>
    </div>
    </div>
    </div>


    <%- include('./layouts/signfooter'); %>